#back1, #back2, #back3, #back4 {
    width: 100%;
    height: auto;
}

#back1 {
    background: url('../backgroundweb/Vector1.svg');
    position: relative;
    top: 6em;
    height: 890px;
    left: -2px;
}

#back2 {
    background: url('../backgroundweb/Vector3.svg');
    position: relative;
    top: -1em;
    height: 1000px;
    left: -2px;
}

#back3 {
    background: url('../backgroundweb/Vector6.svg');
    position: relative;
    top: -8em;
    height: 1000px;
    left: -2px;
}

#back4 {
    background: url('../backgroundweb/Vector7.svg');
    position: relative;
    top: -15em;
    height: 1000px;
    left: -2px;
    bottom: 0px;
}

*{
    color: #ffffff;
}

li {
    font-size: 25px;
}

h1, h2, h3, h4, p {
    text-align: justify;
}

p{
    color: #ffffff;
    text-align: center;
    font-size: 60px;
    margin-top: 0px;
}

#fundo {
    opacity: 0.8;
    background-color: #000;
    position: fixed;
    width: 100%;
    height: 100%;
    z-index: 98;
    top: 0;
    left: 0;
    display: none;
  }
  
  #modal {
    width: 150px;
    height: 150px;
    left: 50%;
    top: 50%;
    margin: -75px 0 0 -75px;
    position: fixed;
    background-color: #fff;
    z-index: 99;
    display: none;
  }

  #cadastro {
      background: #ffffff;
      border-radius: 2px;
  }