@font-face{
    font-family: "Roboto";
    src: url("../fonts/Roboto/Roboto-Regular.ttf") format("ttf");
    font-weight: normal;
}

@import url('https://fonts.googleapis.com/css2?family=Quicksand:wght@600;700&family=Roboto&display=swap');

.row{
    margin-right: 0;
}

#banner1 {
    background: #6316a3;
    margin-right: -45px;
}

#chamadaDesktop{
    text-align: left; 
    font-family: 'Quicksand', sans-serif; 
    font-weight: bold; 
    font-size: 58;
    padding-top: 50px;
    padding-bottom: 30px;
    color: #fff;
    margin-left: 40px;
}

#chamadaDesktop2{
    text-align: left; 
    font-family: 'Roboto', sans-serif; 
    font-weight: 400; 
    font-size: 32px;
    padding-bottom: 110px;
    color: #fff;
    margin-left: 20px;

}

#banner2 {
    margin-right: -45px;
    text-align: center;
}

#maratonaBeloved{
    font-family: "Quicksand";
    font-size: 48px;
    font-weight: bold;
    color: #3F3e3e;
    padding-top: 60px;
    padding-bottom: 20px;
}

#tresEmails {
    font-family: "Roboto";
    font-size: 32px;
    font-weight: 400;
    color: #646464;
    padding-bottom: 40px;

}

#atividades{
    font-family: "Roboto";
    font-size: 26px;
    color: #646464;
    font-weight: 400;
    padding-top: 20px;
}

#activities {
    padding-bottom: 140px;
}

#controleSeuTempo {
    background: #74549f;
    margin-right: -45px;;

}

#cadastro {
    background: #ffffff;
    border-radius: 2px;
}

#controleTempo {
    text-align: left; 
    font-family: 'Quicksand', sans-serif; 
    font-weight: bold; 
    font-size: 58;
    padding-top: 70px;
    padding-bottom: 30px;
    color: #fff;
    margin-left: 40px;
}

#containerForm {
    padding-top: 40px;
    padding-bottom: 40px;
}

#tecnicas {
    font-family: 'Roboto';
    font-size: 30px;
    font-weight: 400;
    text-align: left;
    color: #fff;
    float: left;
}

p{
    color: #6316a3;
    text-align: center;
    font-size: 60px;
    font-family: "Quicksand";
    font-weight: bold;
    margin-top: 0px;
  }
