#intro{
  background-color: #761498;
}
#intro2{
  background-color:white;
}
#fra1{
  margin-top: 60px;
  color:white;
  font-family: 'Quicksand', sans-serif;
  font-size:61px;
  
}
#fra3{
  margin-top: 10px;
  color:black;
  font-family: 'Quicksand', sans-serif;
  font-size:30px;
  font-style:normal;
}
#fra{
  margin-top: 5px;
  margin-bottom: 50px;
  font-family: 'Roboto';
  color:white;
  font-size:30px;
}

#fra2{
  margin-top: 35px;
  color:white;
  font-family: 'Roboto';
  font-size:30px;
}
#bot{
  font-family: 'Roboto', sans-serif; 
  font-size:35px;
}
.btn{
  margin-top: 25px;
  width: 330px;
}

a:active{
    color:white;
    text-decoration: underline;
}
a:hover{
    color:rgb(0, 0, 0);
    text-decoration: underline;
}

.rede {
    width: 80px;
    height: 80px;
    float: right;
    margin-right: 20px;
    transition: all 0,4s ease-out;
    padding-top: 8px;
    padding-left: 8px;
}

.rede#facebook{
    background-color: #761498;
    border-radius: 50%;
}

.rede#instagram{
  background-color: #761498;
  border-radius: 50%;
}

.rede:hover {
  cursor: pointer;
  transform: translateY(-10px);
  box-shadow: 4px 30px 16px 0px rgba(50, 50, 50, 0.45)
}

.icone {
  height: 60px;
}

#logodesk:hover {
  cursor: pointer;
  transform: translateY(-10px);
}
